body {
  background: #1D1F20;
  width: 300px;
  height: 400px;
  overflow: hidden;
}
#title{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
#desc{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
#submit{
  height: 30%;
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

#thumbnail{
  width: 256px;
  height: 144px;
}
#exp{
  color: white;
}

h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
.button {
  background: #2B2D2F;
  height: 80px;
  width: 200px;
  text-align: center;
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

#txt {
  font: bold 1.25rem/1 poppins;
  color: #3e574f;
  position: absolute; 
  top: 50%;
  transform: translateY(-52%);
  left: 0;
  right: 0;
}

.progress-bar {
  position: absolute;
  height: 10px;
  width: 0;
  right: 0;
  /* top: 50%; */
  left: 50%;
  border-radius: 200px;
  /* transform: translateY(-50%) translateX(-50%); */
  transform: translateX(-50%);
  background: lighten(#65717d, 15%);
}

svg {
  width: 30px;
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%) translateX(-50%); */
  transform: translateX(-50%);
  left: 50%;
  right: 0;
}

.check {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}